.column-header {
  display: flex;
  padding: 0px 20px;
  flex-direction: row;
  min-width: 340px;
  justify-content: space-between;
}

.column-header-section {
  display: flex;
  align-items: center;
}

.column-title-text {
  margin: 3px;
  text-transform: capitalize;
}

.avatars {
  width: 20px;
  height: 20px;
  margin: 3px;
}

.ticket-count {
  margin-left: 10px;
}