.filters {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  padding: 20px;
  width: 300px;
}

.dropbtn {
  height: '35px';
  margin-left: 25px;
  background-color: #fff;
  color: #333;
  padding: 0px 5px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.dropbtn:hover {
  background-color: #f8f8f8;
}

.filters-dropdown {
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-between';
  align-items: 'center';
  margin: '4px 3px';
  font-size: '13px';
  color: '#6b6f76';
}


.filters-dropdown select {
  width: 115px;
  padding: 6px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}